#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#chores {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.chore-card {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}
